{% extends 'base.html' %}
{% block content %}

{% if user.is_admin or user.is_staff %} 

<div class="card w-50">
  <div class="card-header">
    <h2>Attendance Report</h2>
  </div>
  <div class="card-body">
    <h5 class="card-title">View Students Details and Attendance Report </h5>
    {% if user.is_authenticated %}
      <p class="card-text">You are login as staff Member "{{user.username}}" you can view students reports from here</p>
      
      <a href="{% url 'search' %}" class="btn btn-primary">Show Reports</a>
      {% else %}
      <p class="card-text">If you are not login in to your account you are not allowed to view your reports..!!!</p>
      {% endif %}
  </div>
</div>
</div>

{% else %}
<div class="row">
<div class="card w-50">
    <div class="card-header">
      <h2>Result Report</h2>
    </div>
    <div class="card-body">
      <h5 class="card-title">View your Result </h5>
      {% if user.is_authenticated %}
      <p class="card-text">You are login as "{{user.username}}" you can view your results from here</p>
      
      <a href="{% url 'view_results' %}" class="btn btn-primary">Show Results</a>
      {% else %}
      <p class="card-text">If you are not login in to your account you are not allowed to view your reports..!!!</p>
      <p class="card-text">Please logging..!!!</p>
      {% endif %}
    </div>
  </div>

  <div class="card w-50">
    <div class="card-header">
      <h2>Exam Report</h2>
    </div>
    <div class="card-body">
      <h5 class="card-title">View your Report </h5>
      {% if user.is_authenticated %}
      <p class="card-text">You are login as "{{user.username}}" you can view your results from here</p>
      
      <a href="{% url 'view_exam_report' %}" class="btn btn-primary">Show Reports</a>
      {% else %}
      <p class="card-text">If you are not login in to your account you are not allowed to view your reports..!!!</p>
      <p class="card-text">Please logging..!!!</p>
      {% endif %}
    </div>
  </div>
</div>

<div class="row">
  <div class="card w-50">
    <div class="card-header">
      <h2>Course Report</h2>
    </div>
    <div class="card-body">
      <h5 class="card-title">View your Result </h5>
      {% if user.is_authenticated %}
      <p class="card-text">You are login as "{{user.username}}" you can view your results from here</p>
      
      <a href="{% url 'view_course_report' %}" class="btn btn-primary">Show Reports</a>
      {% else %}
      <p class="card-text">If you are not login in to your account you are not allowed to view your reports..!!!</p>
      <p class="card-text">Please logging..!!!</p>
      {% endif %}
    </div>
  </div>


  <div class="card w-50">
    <div class="card-header">
      <h2>Attendence Report</h2>
    </div>
    <div class="card-body">
      <h5 class="card-title">View your attendance </h5>
      {% if user.is_authenticated %}
      <p class="card-text">You are login as "{{user.username}}" you can view your results from here</p>
      
      <a href="{% url 'search' %}" class="btn btn-primary">Show Reports</a>
      {% else %}
      <p class="card-text">If you are not login in to your account you are not allowed to view your reports..!!!</p>
      <p class="card-text">Please logging..!!!</p>
      {% endif %}
    </div>
  </div>
</div>



{% endif %}


{% endblock %}  

