{% extends 'base.html' %}
{% block content %}



<div class="card" style="width: 50rem;">
    <div class="card text-center">
   <h5 class="card-header">---Your Attendance---</h5>  
    </div>
    
<table class="table">
    <thead class="table-light">
    <thead>
    <tr>
        <th scope="col">Subject_Code</th>
        <th scope="col">Subject_Name</th>
        
        <th scope="col">Attendance</th>
    </thead>
  
    </tr>   
        


        {% for Subjects in object_list %}
        <tr><td>{{Subjects.subject_code}} </td> 
            <td>{{Subjects.subject_name}}</td>
            <td>{{Subjects.attendance}} </td></tr>
   

{% endfor %}
        </table>
<a href="{% url 'view_student' %}" class="btn btn-primary">Back</a>




{% endblock %}